/* Style the navbar */
#navbar {
    overflow: hidden;
    background-color: #36443eb0;
    position: fixed;
    top: 0;
    width: 100%;
    }
  
  
#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    }
 
.content-background{
    background-image: url(../styles/images/IMG_3448.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    }

.main-content {
    padding-top: 35px;
    }

h1 {
    color:white;
    font-weight: 800;
    }
  
section {
    height: 100vh;
    margin:0;
    padding:2.5rem 4rem;
    }

img {
    float: right;
    margin-right: 110px;
    border-radius: 25px;
    border: 2px solid #ffffff
    }

.text-block{
    text-align: center;
    font-size: 25px;
    float: left;
    border:2px solid white;
    color: white;
    background-color: rgba(0, 0, 0, 0.507);
    border-radius: 10px;
    margin-top: 300px;
    margin-left:110px
}

p {
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
}
    